# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# IDEs
.idea/
.vscode/

# Local configuration/Secrets
.env

# Data (Analytical Choice)
data/*.db
data/*.json